.patient-reg-page {
	background-color: rgb(245, 245, 245);
	width: 98.7vw;
	display: flex;
	flex-direction: row;
    padding-bottom: 2rem;
	margin: auto;
}

.patient-reg-title {
	background-color: white;
	height: 3rem;
	width: 60rem;
	border-radius: 10px;
	text-align: center;
	padding-top: 0.7rem;
	margin-top: 7rem;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.patient-reg-form {
	display: flex;
	flex-direction: column;
    gap: 2rem;
    
}

.patient-reg-input {
	display: grid;
	grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(4,1fr); 
    margin-left: 2rem;
    grid-column-gap: 1.5rem ;
    grid-row-gap: 1.25rem;
}

.patient-reg-section1{
    display: flex;
    flex-direction: row;
}

.patient-form-input{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.address-input-div{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.error{
	margin-left: 2rem;
}