.pic-box {
	width: 10rem;
	height: 10rem;
	border: 1px solid #41597b;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}

.profile-pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

