.options-box{
    width:13rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
    font-size: 0.75rem;
    padding: 1rem;
    background-color: white;
}

.options-box a{
    text-decoration: none;
}