.chat-system {
  margin: 0 auto;
  padding-top: 10rem;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sign-in-button, .send-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sign-in-button:hover, .send-button:hover {
  background-color: #0056b3;
}

input.input-field {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.chat-messages {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 20px;
  height: 400px;
  overflow-y: auto;
}

.message {
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: 75%;
  word-wrap: break-word;
}

.sent {
  background-color: #dcf8c6;
  margin-left: auto;
  margin-right: 0;
}

.received {
  background-color: #ebebeb;
  margin-left: 0;
  margin-right: auto;
}

.message p {
  margin: 5px 0;
  word-wrap: break-word;
}

.message img {
  max-width: 50px;
  border-radius: 50%;
  margin-top: 5px;
}

.doctor-list{
  display: flex;
  flex-direction: column;
  width: 11rem;
}

.doctors-name{
  margin-bottom:0.8rem;
  cursor: pointer;
}
