.swiper {
	width: 98.7vw;
	height: 40vh;
}

.swiper-slide {
	text-align: center;
	background-color: #41597b;
	display: flex;
	align-items:center;
    justify-content:space-evenly;
	color:#ffffff;

}

.swiper-pagination-bullet {
    background-color: #ffffff;
}

.swiper-slide img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.swiper-slide span{
    color: #ffffff;
    width: 30rem;
}
