.swiper {
	width: 98.7vw;
	height: 40vh;
}

.swiper-slide {
	background-color: #41597b;
	display: flex;
	align-items:center;
    justify-content:space-evenly;
	color:#ffffff;

}

.swiper-pagination-bullet {
    background-color: #ffffff;
}

.swiper-slide img{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
}

.info-title{
    color: #ffffff;
    width: 30rem;
    font-weight: 700;
    font-size: 1.3rem;
    
}

.info-text{
    color: #ffffff;
    margin-top: 1.5rem;
    font-weight: normal;
    word-spacing: 0.75rem;
    font-size: 1.1rem;

}