.footer {
	background-color: #6a7782;
	width: 98.7vw;
	height: 40vh;
}

.footer-in {
	background-color: rgb(255, 255, 255);
	width: 75vw;
	height: 34.5vh;
	top: 1rem;
	margin: auto;
	border-radius: 5px;
	position: relative;
	box-shadow: #e5e7e8;
    padding: 2rem;
    display:flex;
    flex-direction: row;

}

.copyright {
	height: 6vh;
	background-color: #6a7782;
}

.copyright p {
	color: #e5e7e8;
	text-align: center;
}

.contact-icons{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 6rem;
}

.contact-icons img{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.contact-info{
    margin-top: 0.45rem;
    margin-left: 0.75rem;
    gap: 2.2rem;
    font-size: 10px;
    cursor: pointer;
}

.social-media{
    margin-left: 15rem;
}

.contact-info a{
    text-decoration: none;
}