.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}
.hero-section{
    width: 98.7vw;
}


.hero-pic{
    width:98.7vw;
}

.title-start{
    font-size: 4rem;
}

.title-end{
    color: #7BB3DF;
}

.mission-text{
    font-size: 1.3rem;
    text-align: center;
    width: 80%;
    margin-top: -1.5rem;
}

.services-pics{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    grid-gap: 1rem;

}

.services-pics img{
    height: 26vw;
    border-radius: 15px;
}

.services-pics p{
    text-align: center;
    font-size: smaller;
    width: 16.5rem;
}

.hero-section2{
}
