.diagnosis-data-form {
	margin-top: 3rem;
}
.patient-preview-section1 {
	margin-top: 2rem;
}

.error-message {
	color: red;
	font-size: smaller;
	margin-left: 0.5rem;
    margin-top: -1.5rem;
}

.patient-page{
	display: flex;
	flex-direction: row;
}

.pic-box-preview{
	cursor:default;
}
